# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore
.DS_Store
## User settings
xcuserdata/
*.generated.swift

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
#
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
# .swiftpm

.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build/

# Accio dependency management
.accio/

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/

# Out of sync
CoresSources
Dependencies/*
!Dependencies/Libretro
i18n/
Scripts/System.core.ver
ManicEmu/ManicEmu/Resources/System.core
AppStoreConnect
SideloadStore

#claude code
.claude
CLAUDE.md
SKILL.md

#cursor
.cursor

# localize working patches
Scripts/localize
Scripts/find_unused_resources.py
Scripts/find_unused_types.py


#vscode
.vscode
Cores/atari800.libretro.framework/atari800.libretro
Cores/atari800.libretro.framework/Info.plist
Cores/atari800.libretro.framework/_CodeSignature/CodeResources
Cores/azahar.libretro.framework/azahar.libretro
Cores/azahar.libretro.framework/Info.plist
Cores/azahar.libretro.framework/_CodeSignature/CodeResources
Cores/bsnes-jg.libretro.framework/bsnes-jg.libretro
Cores/bsnes-jg.libretro.framework/Info.plist
Cores/bsnes-jg.libretro.framework/_CodeSignature/CodeResources
Cores/bsnes.libretro.framework/bsnes.libretro
Cores/bsnes.libretro.framework/Info.plist
Cores/bsnes.libretro.framework/_CodeSignature/CodeResources
Cores/Citra.framework/Citra
Cores/Citra.framework/Info.plist
Cores/Citra.framework/Headers/CheatsManager.h
Cores/Citra.framework/Headers/Citra.h
Cores/Citra.framework/Headers/CitraCore.h
Cores/Citra.framework/Modules/module.modulemap
Cores/Citra.framework/_CodeSignature/CodeResources
Cores/clownmdemu.libretro.framework/clownmdemu.libretro
Cores/clownmdemu.libretro.framework/Info.plist
Cores/clownmdemu.libretro.framework/_CodeSignature/CodeResources
Cores/desmume.libretro.framework/desmume.libretro
Cores/desmume.libretro.framework/Info.plist
Cores/desmume.libretro.framework/_CodeSignature/CodeResources
Cores/dolphin.libretro.framework/dolphin.libretro
Cores/dolphin.libretro.framework/Info.plist
Cores/dolphin.libretro.framework/_CodeSignature/CodeResources
Cores/dosbox.pure.libretro.framework/dosbox.pure.libretro
Cores/dosbox.pure.libretro.framework/Info.plist
Cores/dosbox.pure.libretro.framework/_CodeSignature/CodeResources
Cores/eka2l1.libretro.framework/eka2l1.libretro
Cores/eka2l1.libretro.framework/Info.plist
Cores/eka2l1.libretro.framework/Assets/defaultbank.hsb
Cores/eka2l1.libretro.framework/Assets/defaultbank.sf2
Cores/eka2l1.libretro.framework/Assets/gl/brush.frag
Cores/eka2l1.libretro.framework/Assets/gl/brush.vert
Cores/eka2l1.libretro.framework/Assets/gl/pen.frag
Cores/eka2l1.libretro.framework/Assets/gl/pen.vert
Cores/eka2l1.libretro.framework/Assets/gl/sprite_mask.frag
Cores/eka2l1.libretro.framework/Assets/gl/sprite_norm.frag
Cores/eka2l1.libretro.framework/Assets/gl/sprite_norm.vert
Cores/eka2l1.libretro.framework/Assets/gl/sprite_upscaled.frag
Cores/eka2l1.libretro.framework/Assets/gles/brush.frag
Cores/eka2l1.libretro.framework/Assets/gles/brush.vert
Cores/eka2l1.libretro.framework/Assets/gles/pen.frag
Cores/eka2l1.libretro.framework/Assets/gles/pen.vert
Cores/eka2l1.libretro.framework/Assets/gles/sprite_mask.frag
Cores/eka2l1.libretro.framework/Assets/gles/sprite_norm.frag
Cores/eka2l1.libretro.framework/Assets/gles/sprite_norm.vert
Cores/eka2l1.libretro.framework/Assets/gles/sprite_upscaled.frag
Cores/eka2l1.libretro.framework/Assets/upscale/2xBR.frag
Cores/eka2l1.libretro.framework/Assets/upscale/4xBR.frag
Cores/eka2l1.libretro.framework/Assets/upscale/4xhq.frag
Cores/eka2l1.libretro.framework/Assets/upscale/5xBR-lv2.frag
Cores/eka2l1.libretro.framework/Assets/upscale/5xBR.frag
Cores/eka2l1.libretro.framework/Assets/upscale/aacolor.frag
Cores/eka2l1.libretro.framework/Assets/upscale/CRT-Hyllian.frag
Cores/eka2l1.libretro.framework/Assets/upscale/CRT-Lottes-TV.frag
Cores/eka2l1.libretro.framework/Assets/upscale/CRT-Lottes.frag
Cores/eka2l1.libretro.framework/Assets/upscale/dot.frag
Cores/eka2l1.libretro.framework/Assets/upscale/dotpsp_color_mobile.frag
Cores/eka2l1.libretro.framework/Assets/upscale/dot_mobile.frag
Cores/eka2l1.libretro.framework/Assets/upscale/fxaa.frag
Cores/eka2l1.libretro.framework/Assets/upscale/grayscale.frag
Cores/eka2l1.libretro.framework/Assets/upscale/inversecolors.frag
Cores/eka2l1.libretro.framework/Assets/upscale/natural.frag
Cores/eka2l1.libretro.framework/Assets/upscale/scanline-emu.frag
Cores/eka2l1.libretro.framework/Assets/upscale/scanline.frag
Cores/eka2l1.libretro.framework/Assets/upscale/sharpen.frag
Cores/eka2l1.libretro.framework/Assets/upscale/zfast_lcd.frag
Cores/eka2l1.libretro.framework/Assets/upscale/zfast_lcd_mobile.frag
Cores/eka2l1.libretro.framework/compat/101FD3DE.yml
Cores/eka2l1.libretro.framework/compat/101FD3F5.yml
Cores/eka2l1.libretro.framework/compat/101FD3F6.yml
Cores/eka2l1.libretro.framework/compat/101FD3FD.yml
Cores/eka2l1.libretro.framework/compat/101FD409.yml
Cores/eka2l1.libretro.framework/compat/101FE1CA.yml
Cores/eka2l1.libretro.framework/compat/panicBlackList.json
Cores/eka2l1.libretro.framework/patch/audiooutputrouting.dll.map
Cores/eka2l1.libretro.framework/patch/audiooutputrouting_general.dll
Cores/eka2l1.libretro.framework/patch/avkonfep_general.dll
Cores/eka2l1.libretro.framework/patch/backlightctrl.dll.map
Cores/eka2l1.libretro.framework/patch/backlightctrl_v81a.dll
Cores/eka2l1.libretro.framework/patch/ecam.dll.map
Cores/eka2l1.libretro.framework/patch/ecam_general.dll
Cores/eka2l1.libretro.framework/patch/goommonitor_general.dll
Cores/eka2l1.libretro.framework/patch/mediaclientaudio.dll.map
Cores/eka2l1.libretro.framework/patch/mediaclientaudioinputstream.dll.map
Cores/eka2l1.libretro.framework/patch/mediaclientaudiostream.dll.map
Cores/eka2l1.libretro.framework/patch/mediaclientaudiostream_general.dll
Cores/eka2l1.libretro.framework/patch/mediaclientaudiostream_v81a.dll
Cores/eka2l1.libretro.framework/patch/mediaclientaudio_general.dll
Cores/eka2l1.libretro.framework/patch/mediaclientaudio_v81a.dll
Cores/eka2l1.libretro.framework/patch/mediaclientvideo.dll.map
Cores/eka2l1.libretro.framework/patch/mediaclientvideo_v100.dll
Cores/eka2l1.libretro.framework/patch/postingsurfacefactory.dll.map
Cores/eka2l1.libretro.framework/patch/postingsurfacefactory_general.dll
Cores/eka2l1.libretro.framework/patch/scdv.dll.map
Cores/eka2l1.libretro.framework/patch/scdv_general.dll
Cores/eka2l1.libretro.framework/patch/scdv_v81a.dll
Cores/eka2l1.libretro.framework/patch/target.inf
Cores/eka2l1.libretro.framework/patch/vibractrl.dll.map
Cores/eka2l1.libretro.framework/patch/vibractrl_v81a.dll
Cores/eka2l1.libretro.framework/patch/general/ABLD.BAT
Cores/eka2l1.libretro.framework/patch/general/audiooutputrouting_general.mmp
Cores/eka2l1.libretro.framework/patch/general/avkonfep_general.mmp
Cores/eka2l1.libretro.framework/patch/general/bld.inf
Cores/eka2l1.libretro.framework/patch/general/ecam_general.mmp
Cores/eka2l1.libretro.framework/patch/general/goommonitor_general.mmp
Cores/eka2l1.libretro.framework/patch/general/mediaclientaudiostream_general.mmp
Cores/eka2l1.libretro.framework/patch/general/mediaclientaudio_general.mmp
Cores/eka2l1.libretro.framework/patch/general/postingsurfacefactory_general.mmp
Cores/eka2l1.libretro.framework/patch/general/scdv_general.mmp
Cores/eka2l1.libretro.framework/patch/v100/bld.inf
Cores/eka2l1.libretro.framework/patch/v100/mediaclientvideo_v100.mmp
Cores/eka2l1.libretro.framework/patch/v6/ABLD.BAT
Cores/eka2l1.libretro.framework/patch/v6/bld.inf
Cores/eka2l1.libretro.framework/patch/v6/scdv_v6.mmp
Cores/eka2l1.libretro.framework/patch/v81a/ABLD.BAT
Cores/eka2l1.libretro.framework/patch/v81a/backlightctrl_v81a.mmp
Cores/eka2l1.libretro.framework/patch/v81a/bld.inf
Cores/eka2l1.libretro.framework/patch/v81a/mediaclientaudiostream_v81a.mmp
Cores/eka2l1.libretro.framework/patch/v81a/mediaclientaudio_v81a.mmp
Cores/eka2l1.libretro.framework/patch/v81a/scdv_v81a.mmp
Cores/eka2l1.libretro.framework/patch/v81a/vibractrl_v81a.mmp
Cores/eka2l1.libretro.framework/scripts/aq_crash_fix.lua
Cores/eka2l1.libretro.framework/scripts/eternal_legacy_crash_fix.lua
Cores/eka2l1.libretro.framework/scripts/hero_of_sparta_crash_fix.lua
Cores/eka2l1.libretro.framework/scripts/README.md
Cores/eka2l1.libretro.framework/scripts/s3_driver_patch.lua
Cores/eka2l1.libretro.framework/scripts/wh40k_slow_load_fix.lua
Cores/eka2l1.libretro.framework/scripts/eka2l1/common.lua
Cores/eka2l1.libretro.framework/scripts/eka2l1/config.ld
Cores/eka2l1.libretro.framework/scripts/eka2l1/cpu.lua
Cores/eka2l1.libretro.framework/scripts/eka2l1/events.lua
Cores/eka2l1.libretro.framework/scripts/eka2l1/helper.lua
Cores/eka2l1.libretro.framework/scripts/eka2l1/kernel.lua
Cores/eka2l1.libretro.framework/scripts/eka2l1/mem.lua
Cores/eka2l1.libretro.framework/scripts/eka2l1/std.lua
Cores/eka2l1.libretro.framework/scripts/eka2l1/ipc/context.lua
Cores/eka2l1.libretro.framework/_CodeSignature/CodeResources
Cores/fbneo.libretro.framework/fbneo.libretro
Cores/fbneo.libretro.framework/Info.plist
Cores/fbneo.libretro.framework/_CodeSignature/CodeResources
Cores/flycast-jitless.libretro.framework/flycast-jitless.libretro
Cores/flycast-jitless.libretro.framework/Info.plist
Cores/flycast-jitless.libretro.framework/_CodeSignature/CodeResources
Cores/flycast.libretro.framework/flycast.libretro
Cores/flycast.libretro.framework/Info.plist
Cores/flycast.libretro.framework/_CodeSignature/CodeResources
Cores/gambatte.libretro.framework/gambatte.libretro
Cores/gambatte.libretro.framework/Info.plist
Cores/gambatte.libretro.framework/_CodeSignature/CodeResources
Cores/gearsystem.libretro.framework/gearsystem.libretro
Cores/gearsystem.libretro.framework/Info.plist
Cores/gearsystem.libretro.framework/_CodeSignature/CodeResources
Cores/gpsp.libretro.framework/gpsp.libretro
Cores/gpsp.libretro.framework/Info.plist
Cores/gpsp.libretro.framework/_CodeSignature/CodeResources
Cores/holani.libretro.framework/holani.libretro
Cores/holani.libretro.framework/Info.plist
Cores/holani.libretro.framework/_CodeSignature/CodeResources
Cores/mame.libretro.framework/Info.plist
Cores/mame.libretro.framework/mame.libretro
Cores/mame.libretro.framework/_CodeSignature/CodeResources
Cores/mednafen.ngp.libretro.framework/Info.plist
Cores/mednafen.ngp.libretro.framework/mednafen.ngp.libretro
Cores/mednafen.ngp.libretro.framework/_CodeSignature/CodeResources
Cores/mednafen.pce.libretro.framework/Info.plist
Cores/mednafen.pce.libretro.framework/mednafen.pce.libretro
Cores/mednafen.pce.libretro.framework/_CodeSignature/CodeResources
Cores/mednafen.psx.hw.libretro.framework/Info.plist
Cores/mednafen.psx.hw.libretro.framework/mednafen.psx.hw.libretro
Cores/mednafen.psx.hw.libretro.framework/_CodeSignature/CodeResources
Cores/mednafen.saturn.libretro.framework/Info.plist
Cores/mednafen.saturn.libretro.framework/mednafen.saturn.libretro
Cores/mednafen.saturn.libretro.framework/_CodeSignature/CodeResources
Cores/mednafen.vb.libretro.framework/Info.plist
Cores/mednafen.vb.libretro.framework/mednafen.vb.libretro
Cores/mednafen.vb.libretro.framework/_CodeSignature/CodeResources
Cores/mednafen.wswan.libretro.framework/Info.plist
Cores/mednafen.wswan.libretro.framework/mednafen.wswan.libretro
Cores/mednafen.wswan.libretro.framework/_CodeSignature/CodeResources
Cores/melondsds.libretro.framework/Info.plist
Cores/melondsds.libretro.framework/melondsds.libretro
Cores/melondsds.libretro.framework/_CodeSignature/CodeResources
Cores/mesen-s.libretro.framework/Info.plist
Cores/mesen-s.libretro.framework/mesen-s.libretro
Cores/mesen-s.libretro.framework/_CodeSignature/CodeResources
Cores/mgba.libretro.framework/Info.plist
Cores/mgba.libretro.framework/mgba.libretro
Cores/mgba.libretro.framework/_CodeSignature/CodeResources
Cores/mupen64plus.next.libretro.framework/Info.plist
Cores/mupen64plus.next.libretro.framework/mupen64plus.next.libretro
Cores/mupen64plus.next.libretro.framework/_CodeSignature/CodeResources
Cores/nestopia.libretro.framework/Info.plist
Cores/nestopia.libretro.framework/nestopia.libretro
Cores/nestopia.libretro.framework/_CodeSignature/CodeResources
Cores/pcsx.rearmed.libretro.framework/Info.plist
Cores/pcsx.rearmed.libretro.framework/pcsx.rearmed.libretro
Cores/pcsx.rearmed.libretro.framework/_CodeSignature/CodeResources
Cores/picodrive.libretro.framework/Info.plist
Cores/picodrive.libretro.framework/picodrive.libretro
Cores/picodrive.libretro.framework/_CodeSignature/CodeResources
Cores/pokemini.libretro.framework/Info.plist
Cores/pokemini.libretro.framework/pokemini.libretro
Cores/pokemini.libretro.framework/_CodeSignature/CodeResources
Cores/ppsspp.libretro.framework/Info.plist
Cores/ppsspp.libretro.framework/ppsspp.libretro
Cores/ppsspp.libretro.framework/_CodeSignature/CodeResources
Cores/prboom.libretro.framework/Info.plist
Cores/prboom.libretro.framework/prboom.libretro
Cores/prosystem.libretro.framework/Info.plist
Cores/prosystem.libretro.framework/prosystem.libretro
Cores/prosystem.libretro.framework/_CodeSignature/CodeResources
Cores/puae.libretro.framework/Info.plist
Cores/puae.libretro.framework/puae.libretro
Cores/puae.libretro.framework/_CodeSignature/CodeResources
Cores/snes9x.libretro.framework/Info.plist
Cores/snes9x.libretro.framework/snes9x.libretro
Cores/snes9x.libretro.framework/_CodeSignature/CodeResources
Cores/stella.libretro.framework/Info.plist
Cores/stella.libretro.framework/stella.libretro
Cores/stella.libretro.framework/_CodeSignature/CodeResources
Cores/vbam.libretro.framework/Info.plist
Cores/vbam.libretro.framework/vbam.libretro
Cores/vbam.libretro.framework/_CodeSignature/CodeResources
Cores/vice.x64sc.libretro.framework/Info.plist
Cores/vice.x64sc.libretro.framework/vice.x64sc.libretro
Cores/vice.x64sc.libretro.framework/_CodeSignature/CodeResources
Cores/virtualjaguar.libretro.framework/Info.plist
Cores/virtualjaguar.libretro.framework/virtualjaguar.libretro
Cores/virtualjaguar.libretro.framework/_CodeSignature/CodeResources
Cores/yabause.libretro.framework/Info.plist
Cores/yabause.libretro.framework/yabause.libretro
Cores/yabause.libretro.framework/_CodeSignature/CodeResources
System.core/2600.manicskin
System.core/2600_FLEX.manicskin
System.core/3DS.manicskin
System.core/3DS_FLEX.manicskin
System.core/5200.manicskin
System.core/5200_FLEX.manicskin
System.core/7800.manicskin
System.core/7800_FLEX.manicskin
System.core/Arcade.manicskin
System.core/Arcade_FLEX.manicskin
System.core/DC.manicskin
System.core/DC_FLEX.manicskin
System.core/DOS.manicskin
System.core/DOS_FLEX.manicskin
System.core/DOS_KEYBOARD.manicskin
System.core/DS.manicskin
System.core/DS_FLEX.manicskin
System.core/Extras.db
System.core/Flash.manicskin
System.core/Flash_FLEX.manicskin
System.core/Games.db
System.core/GB.manicskin
System.core/GBA.manicskin
System.core/GBA_FLEX.manicskin
System.core/GBC.manicskin
System.core/GBC_FLEX.manicskin
System.core/GB_FLEX.manicskin
System.core/GG.manicskin
System.core/GG_FLEX.manicskin
System.core/J2ME.manicskin
System.core/J2ME_FLEX.manicskin
System.core/JAGUAR.manicskin
System.core/JAGUAR_FLEX.manicskin
System.core/LYNX.manicskin
System.core/LYNX_FLEX.manicskin
System.core/MAME.db
System.core/MD.manicskin
System.core/MD_FLEX.manicskin
System.core/MS.manicskin
System.core/MS_FLEX.manicskin
System.core/N64.manicskin
System.core/N64_FLEX.manicskin
System.core/NES.manicskin
System.core/NES_FLEX.manicskin
System.core/NGC.manicskin
System.core/NGC_FLEX.manicskin
System.core/NGP.manicskin
System.core/NGP_FLEX.manicskin
System.core/PCE.manicskin
System.core/PCE_FLEX.manicskin
System.core/PM.manicskin
System.core/PM_FLEX.manicskin
System.core/PS1.manicskin
System.core/PS1_FLEX.manicskin
System.core/PSP.manicskin
System.core/PSP_FLEX.manicskin
System.core/PSV.manicskin
System.core/SG-1000.manicskin
System.core/SG-1000_FLEX.manicskin
System.core/shared_font.bin
System.core/SNES.manicskin
System.core/SNES_FLEX.manicskin
System.core/SS.manicskin
System.core/SS_FLEX.manicskin
System.core/Symbian.manicskin
System.core/Symbian_Edge.manicskin
System.core/Symbian_Edge_FLEX.manicskin
System.core/Symbian_FLEX.manicskin
System.core/VB.manicskin
System.core/VB_FLEX.manicskin
System.core/Wii.manicskin
System.core/Wiimote.manicskin
System.core/Wii_FLEX.manicskin
System.core/WSC.manicskin
System.core/WSC_FLEX.manicskin
System.core/freej2me/libmedia/transcode/transcode.wasm
System.core/freej2me/libmidi/libmidi.wasm
System.core/j2mejs/java/classes.jar
System.core/Libretro/system/fbneo/cheats/cheat.dat
System.core/Libretro/system/fbneo/cheats/cheatsnes.dat
System.core/Libretro/system/fbneo/cheats/wayder_cheat.dat
System.core/Libretro/system/mame/cheat/cheat.7z
System.core/Libretro/system/PPSSPP/flash0/font/jpn0.pgf
System.core/Libretro/system/PPSSPP/flash0/font/kr0.pgf
System.core/Libretro/system/PPSSPP/flash0/font/ltn0.pgf
System.core/Libretro/system/PPSSPP/flash0/font/ltn1.pgf
System.core/Libretro/system/PPSSPP/flash0/font/ltn10.pgf
System.core/Libretro/system/PPSSPP/flash0/font/ltn11.pgf
System.core/Libretro/system/PPSSPP/flash0/font/ltn12.pgf
System.core/Libretro/system/PPSSPP/flash0/font/ltn13.pgf
System.core/Libretro/system/PPSSPP/flash0/font/ltn14.pgf
System.core/Libretro/system/PPSSPP/flash0/font/ltn15.pgf
System.core/Libretro/system/PPSSPP/flash0/font/ltn2.pgf
System.core/Libretro/system/PPSSPP/flash0/font/ltn3.pgf
System.core/Libretro/system/PPSSPP/flash0/font/ltn4.pgf
System.core/Libretro/system/PPSSPP/flash0/font/ltn5.pgf
System.core/Libretro/system/PPSSPP/flash0/font/ltn6.pgf
System.core/Libretro/system/PPSSPP/flash0/font/ltn7.pgf
System.core/Libretro/system/PPSSPP/flash0/font/ltn8.pgf
System.core/Libretro/system/PPSSPP/flash0/font/ltn9.pgf
System.core/Libretro/system/PPSSPP/vfpu/vfpu_log2_lut.dat
System.core/ruffle/643ca5ed72583268f9ca.wasm
System.core/ruffle/fddac850b24331f15ac4.wasm
